.RegisterForm {

    &_label {
        display: block;

        > p {
            font-weight: bold;
        }

        > input {
            padding:  0.5rem 1rem;
        }
    }

    &_error {
        color: rgb(149, 4, 4);
        font-weight: bold;
    }

    &_button {
        margin: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
        background-color: greenyellow;
        color: white;
        font-weight: bold;

        &:disabled {
            background-color: rgb(143, 143, 143);
            cursor: not-allowed;
        }
    }
}